rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow everything for development purposes to fix "Missing permissions" error.
    // WARNING: Secure this before production!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
